#map {
  height: 100%;
  z-index: 0;
}

ul {
  list-style: none;
  margin: 5rem 0 0;

  li {
    margin: 0;
    padding: 0;
  }
  li span {
    margin: 0;
    padding: 0
  }
}

.indicator-box {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.form-group {
  z-index: 10;
}